﻿@model MoneyTransfer.Models.User
@{
    ViewData["Title"] = "PersonalArea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
{
    <h2>Личный кабинет</h2>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Персональный номер
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PersonalAccount)
            </dd>
            <dt>
                Имя пользователя
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt>
                Email
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                Баланс кошелька
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Balanse)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-controller="TransactionToUsers" asp-action="Create">Перечислить средства на другой счет</a>
        @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
        <div>
            <a asp-controller="TransactionToUsers" asp-action="Index">Список транзакций</a>
        </div>
    </div>



