﻿@model MoneyTransfer.Models.TransactionToUser

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Перечислить средства на счёт другого пользователя</h2>

<h4>TransactionToUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ToAccount.PersonalAccount" class="control-label"></label>
                <input asp-for="ToAccount.PersonalAccount" class="form-control" />
                <span asp-validation-for="ToAccount.PersonalAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sum" class="control-label"></label>
                <input asp-for="Sum" class="form-control" />
                <span asp-validation-for="Sum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="FromAccount.PersonalAccount" value="@ViewBag.PersonalAccount" />
            </div>
            <div class="form-group">
                <input type="submit" value="Перечислить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>



