﻿@model MoneyTransfer.Models.TransactionToUser
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Details</h2>
<div>
    <h4>TransactionToUser</h4>
    <hr />
    <dl
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sum)
        </dd>
        <dt>
               Счет отправителя
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ToAccount.PersonalAccount)
        </dd>
        <dt>
            Счет получателя
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FromAccount.PersonalAccount)
        </dd>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <div>
         <a asp-action="Index">Список транзакций</a>
    </div>
</div>
