﻿@model IEnumerable<MoneyTransfer.Models.TransactionToUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список транзакций</h2>

<p>
    <a asp-controller="TransactionToUsers" asp-action="Create">Перечислить средства на другой счет</a>

</p>
<table class="table">
    <thead>
        <tr>
                <th>
                   Отправитель
                </th>
                <th>
                    Получатель
                </th>
                <th>
                    Дата
                </th>
                <th>
                   Сумма
                </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ToAccount.PersonalAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromAccount.PersonalAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sum)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
}
    </tbody>
</table>
