﻿

<h3>Пополнить баланс</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Replenishment" asp-controller="Account">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Номер счета</label>
                <input name="PersonalAccount" class="form-control" />
            </div>
            <div class="form-group">
                <label>Сумма</label>
                <input name="Sum" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Пополнить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
